#con .container {
  width: 1240px;
  margin: 0px auto 0;
}
#con .container .nav-container {
  position: relative;
  background: #414141;
  height: 6px;
  width: 100%;
  min-width: 1240px;
}
#con .container .shopping {
  width: 962px;
  margin: 0 auto;
  font-size: 14px;
}
#con .container .shopping .order-nav {
  height: 70px;
  line-height: 100px;
  font-size: 22px;
  color: #414141;
  text-align: center;
}
#con .container .shopping .order-left {
  width: 960px;
}
#con .container .shopping .order-left .per-nav {
  height: 32px;
  line-height: 30px;
  font-weight: bolder;
  font-size: 16px;
  border-bottom: solid 1px #414141;
}
#con .container .shopping .order-left .order-per {
  width: 960px;
}
#con .container .shopping .order-left .order-per .mb10 {
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}
#con .container .shopping .order-left .order-per .mb10 td {
  position: relative;
}
#con .container .shopping .order-left .order-per .mb10 td #address_id_0 {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 9px;
  top: 9px;
}
#con .container .shopping .order-left .hide {
  width: 903px;
  height: 200px;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 14px;
  display: none;
  color: #414141;
}
#con .container .shopping .order-left .hide .contactname_input {
  background-color: #fff;
  width: 217px;
  height: 35px;
  border: solid 1px #b4b4b4;
}
#con .container .shopping .order-left .hide #privince, #con .container .shopping .order-left .hide #city, #con .container .shopping .order-left .hide #area {
  background-color: #fff;
  width: 145px;
  height: 35px;
  border: solid 1px #b4b4b4;
}
#con .container .shopping .order-left .hide .contactname_input2 {
  background-color: #fff;
  width: 475px;
  height: 35px;
  border: solid 1px #b4b4b4;
}
#con .container .shopping .order-left .hide tr {
  height: 55px;
}
#con .container .shopping .order-left .hide .address_zip_div_class {
  height: 200px;
  display: block;
  border: sliod 1px red;
  margin-top: 142px;
  width: 600px;
  margin-left: 92px;
}
#con .container .shopping .order-left .hide .address-box {
  width: 488px;
  height: 166px;
  border: solid 1px #414141;
  position: absolute;
  margin-top: 5px;
  margin-left: 155px;
  font-size: 12px;
  display: none;
  background: #fff;
}
#con .container .shopping .order-left .hide .save {
  width: 142px;
  height: 37px;
  cursor: pointer;
  line-height: 37px;
  background: #414141;
  color: #fff;
  text-align: center;
  display: block;
  float: right;
  margin: 10px 0 0 0;
}
#con .container .shopping .order-left .hide .cancel {
  width: 142px;
  height: 37px;
  line-height: 37px;
  background: #d9d9d9;
  color: #000;
  text-align: center;
  display: block;
  float: right;
  margin: 10px 10px 0 0;
}
#con .container .shopping .order-left .order-del {
  width: 960px;
  margin-top: 50px;
}
#con .container .shopping .order-left .order-del #address_paytype .per-nav {
  height: 32px;
  line-height: 30px;
  font-weight: bolder;
  font-size: 16px;
  border-bottom: solid 1px #414141;
}
#con .container .shopping .order-left .order-del #address_paytype .per-nav .btn_update {
  float: right;
  font-size: 14px;
  color: #38a6c2;
}
#con .container .shopping .order-left .order-del #address_paytype .per-nav .btn_update a {
  color: #38a6c2;
}
#con .container .shopping .order-left .order-del #address_paytype .per-nav #bc {
  font-size: 14px;
  margin-top: 10px;
  display: block;
  padding: 0 10px;
  line-height: 25px;
}
#con .container .shopping .order-left .order-del #ab {
  line-height: 30px;
}
#con .container .shopping .order-left .order-del #ab div .payment {
  width: 70px;
  float: left;
}
#con .container .shopping .order-left .order-del #ab .h30 {
  height: 30px;
  line-height: 30px;
}
#con .container .shopping .order-left .order-del #ab .h30 .wwf {
  float: left;
  margin-right: 20px;
}
#con .container .shopping .order-left .order-del #ab .h30 .cor-2 {
  color: #414141;
}
#con .container .shopping .order-left .order-del #ab .h30 .pay_ysf {
  float: left;
  font-size: 12px;
  color: #83847e;
}
#con .container .shopping .order-left .order-del #ab #span_ziti .wfm {
  width: 100px;
  float: left;
  display: block;
  margin-left: 64px;
}
#con .container .shopping .order-left .order-other {
  padding-top: 50px;
  font-size: 14px;
}
#con .container .shopping .order-left .order-other td #couponno {
  width: 215px;
  height: 35px;
  line-height: 35px;
}
#con .container .shopping .order-left .order-other td #button_btn {
  width: 55px;
  height: 35px;
  line-height: 35px;
  background: #414141;
  border: none;
  cursor: pointer;
  color: #fff;
}
#con .container .shopping .order-left .order-other td .pay_total {
  line-height: 30px;
  font-weight: bolder;
  color: #414141;
}
#con .container .shopping .order-left .order-other .commodity-list {
  width: 960px;
  min-height: 120px;
  font-size: 12px;
  margin-bottom: 25px;
  padding-top: 35px;
}
#con .container .shopping .order-left .order-other .commodity-list .product-img {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  cursor: pointer;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-left {
  width: 260px;
  float: left;
  height: 125px;
  line-height: 30px;
  margin: 0px 25px 0 20px;
  border-right: solid 1px #83847e;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-left .fl {
  float: left;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-left .fl .list-color2 {
  height: 30px;
  color: #414141;
  display: block;
  float: left;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-left .fl .pay_normal {
  float: left;
  width: 180px;
  line-height: 20px;
  padding-top: 5px;
  color: #414141;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right {
  width: 550px;
  height: 125px;
  line-height: 30px;
  margin-top: 5px;
  float: left;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .list_tlabel {
  width: 75px;
  text-align: right;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .list-color2 {
  height: 30px;
  color: #414141;
  display: block;
  float: left;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .list_tlabel {
  width: 75px;
  text-align: right;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .add_wj {
  line-height: normal;
  float: none;
  display: table-cell;
  vertical-align: middle;
  width: 480px;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .list_tlabel {
  width: 75px;
  text-align: right;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .list_tlabel .red {
  color: red;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .list_tlabel .list-color2 {
  color: #414141;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .pay_day {
  position: relative;
  width: 220px;
  height: 35px;
  float: left;
  cursor: pointer;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .pay_day .commodity-list-input {
  width: 220px;
  height: 35px;
  line-height: 35px;
  color: #414141;
  border: 0;
  display: block;
  float: left;
  border: solid 1px #b4b4b4;
  background: url(../../images/da_02.jpg) no-repeat right;
  cursor: pointer;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .city_help_info {
  width: 360px;
  line-height: 18px;
  border: 1px solid #414141;
  font-weight: normal;
  background: #fff;
  display: none;
  font-size: 12px;
  color: #83847e;
  padding: 15px;
  margin-top: 20px;
  position: absolute;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .list-color4 {
  height: 30px;
  color: #83847e;
  cursor: pointer;
  display: block;
  float: left;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .city_help_img {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .iscity_show {
  color: #414141;
  height: 35px;
  width: 95px;
  position: relative;
  cursor: pointer;
  float: left;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .iscity_show .iscity_type_checkbox {
  margin-top: 8px;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .iscity_show .city_help_img {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .jnr-box {
  width: 188px;
  height: 166px;
  border: solid 1px #414141;
  position: absolute;
  margin-top: 0px;
  margin-left: 170px;
  font-size: 12px;
  display: none;
  background-color: #fff;
  z-index: 1;
}
#con .container .shopping .order-left .order-other .commodity-list .commodity-list-right .mar {
  margin: 40px 0 0 0;
}
#con .container .shopping .order-left .order-other .leave_note {
  font-size: 16px;
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  border-bottom: solid 1px #414141;
}
#con .container .shopping .order-left .order-other .leave_div {
  padding: 35px 0 15px 0;
}
#con .container .shopping .order-left .order-other .leave_div div {
  float: left;
}
#con .container .shopping .order-left .order-other .leave_div div span {
  padding: 50px 30px;
  float: left;
}
#con .container .shopping .order-left .order-other .leave_div div label {
  float: left;
}
#con .container .shopping .order-left .order-other .leave_div div:first-child {
  width: 380px;
  border-right: 1px solid #83847e;
  padding: 22px 0;
  line-height: 25px;
}
#con .container .shopping .order-left .order-other .pay_total {
  font-weight: bolder;
  color: #414141;
  box-sizing: border-box;
  border-collapse: collapse;
}
#con .container .shopping .order-left .order-other .sub-tt {
  margin-top: 20px;
  margin-left: 380px;
}
#con .container .shopping .order-left .order-other .sub-tt #pay_submit_btn {
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: #414141;
  font-size: 14px;
  color: #fff;
  text-align: center;
  float: right;
}

/*# sourceMappingURL=site.css.map */
